.logocontainer{
    left: 0;
    right: 0;
    text-align: center;
    background-color: #ecf0f1;
    padding: 0.5rem;
}
.logotitle{
    font-size: 3rem;
    font-weight: 600;
    margin-left: 1rem;
}
.logo{
    margin: 0;
    width: 5rem;
}
.admin-login-link{
    float: right;
    padding: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}
.admin-icon{
    width: 2rem;
}
