<!-- <h1>Admin page</h1> -->
<div style="padding: 20px">
  <form (submit)="login($event)" class="formcontainer">
    <mat-grid-list cols="{{cols}}" rowHeight="3rem">
      <mat-grid-tile [rowspan]="rows" [colspan]="1">
        <div class="description">
          <img [src]="logo" [alt]="logo" class="logo">
          <span class="logotitle">Change With Tip</span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="rows" [colspan]="1">
        <div class="title" #title>
          Admin Login
        </div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="8" [colspan]="1">
        <div>
          <div *ngIf="message" class="authmessage">{{ message }}</div>
          <mat-form-field class="formdata" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput [(ngModel)]="email" [formControl]="EmailFormControl" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="EmailFormControl.hasError('email') && !EmailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="EmailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="formdata" appearance="fill">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="password" [formControl]="PassFormControl" [type]="hide ? 'password' : 'text'" matInput>
            <mat-icon matSuffix (click)="hide = !hide"><img class="visicon" [src]="hide ? visibility_off : visibility_on" alt="{{hide ? 'visibility_off' : 'visibility'}}"></mat-icon>
            <mat-error *ngIf="PassFormControl.hasError('pattern') && !PassFormControl.hasError('required')">
              Please enter a valid password
            </mat-error>
            <mat-error *ngIf="PassFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="subcontainer">
            <button class="submit"><span><img height="80" [src]="submit" alt="Submit"></span></button>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="3" [colspan]="cols">
        <aboutus-details></aboutus-details>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
