<div class="cfooter-container">
    <mat-grid-list cols="2" rowHeight="4rem">
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <a href="#">
                <img [src]="logo" alt="logo" class="logo">
                <span class="logotitle">Change With Tip</span>
            </a>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <div class="iconstext">
                Like and Follow Us on
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <div class="details">
                <b>Change With Tip</b> is an organisation which
                allows users to write <b><i>annonymous</i></b> tips to
                the <b><i>Defense forces</i></b>.
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <div class="icons">
                <a href="#">
                    <img [src]="emlogo" alt="logo" class="icon">
                </a>
                <a href="#">
                    <img [src]="fblogo" alt="logo" class="icon">
                </a>
                <a href="#">
                    <img [src]="inlogo" alt="logo" class="icon">
                </a>
                <a href="#">
                    <img [src]="twlogo" alt="logo" class="icon">
                </a>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
